@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


.header, .left-links, .right-links, .footer {
  display:flex;
  list-style-type: none;
}

.header, .footer {
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  padding: 15px;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:link { text-decoration: none; color: #545454; }
a:visited { text-decoration: none; color: #545454;}
a:hover { text-decoration: none; color: #545454;}
a:active { text-decoration: none; color: #545454;}